# Ignore datasets and generated data files
Datasets/
data/
*.npy
*.parquet

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# LaTeX, Reports, PDFs, and Temp Artifacts
*.tex
*.pdf
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.lof
*.lot
*.dvi
*.bcf
*.run.xml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

Scratch/

